name: Robot Framework API Tests   # Name of the workflow shown in GitHub Actions

# When to run the workflow
on:
  push:
    branches: [ "main" ]         # Run CI on every push to the main branch
  pull_request:
    branches: [ "main" ]         # Run CI when a pull request targets main

jobs:
  robot-tests:
    runs-on: ubuntu-latest           # Use latest Ubuntu virtual machine

    steps:                               
      - name: Checkout code          # Downloads your GitHub repository to the runner
        uses: actions/checkout@v4  

     

      - name: Set up Python               # Installs Python 3.10 on the runner for Robot Framework
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      
      - name: Install dependencies           # Install Robot Framework and RequestsLibrary required for tests
        run: |
          python -m pip install --upgrade pip
          pip install robotframework requests robotframework-requests



        # Execute all Robot tests in the tests/ folder
        # Store results (output.xml, report.html, log.html) in results/
      - name: Run Robot Framework tests
        run: robot --outputdir results tests/
       


        # Save test reports as GitHub artifacts
        # They can be downloaded after the workflow finishes
      - name: Upload Robot results
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: results/